.DS_Store

set_env.sh

history.txt

secret.env
config.env
**/delete.sh
**/deploy.sh
**/credentials
**/secret.yaml
**/aws-secret.yaml

.idea
.idea/*

.git
.git/*

*/node_modules/
*/node_modules/*
**/node_modules/*
